# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual Environments create
env/
venv/
*.env

# PyTorch & Model Weights
saved_models/
*.pt
*.pth


# Logs
*.log
*.db

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Dataset files
data/traffic_data
